body, div, ul, li{
	margin:0;
	padding:0;
}
body{
	font-family:"Œ¢»Ì—≈∫⁄", Arial, Helvetica, sans-serif;
	color:#333333;
	line-height:25px;
	font-size:14px;
}
a:link, a:visited {
	text-decoration:none;
	color:#333333;
}
a:hover {
	text-decoration: underline;
	color:#08A5E0;
	text-decoration:none;
}

ul, ul li {
	list-style-type:none;
}
.cl {
	zoom:1;
}

/*Õ¯’æÕ∑≤ø*/
.col960 {
	width:960px;
	margin:auto;
}
.navbg {
	height:40px;
	width: 100%;
	background: #08A5E0;
	box-shadow: 1px 1px 7px #999;
	position:absolute;
	z-index:99;
	left:0;
}
#navul li {
	float: left;
	margin-right: 1px;
	width:100px;
	height:40px;
	position:relative;
	text-align:center;
	line-height:40px;
}
#navul li.navhome {
	text-align:left;
	padding:0 0px 0 40px;
	width:60px;
}
#navul li a:link, #navul li a:visited {
	color:#FFFFFF;
}
#navul li ul {
	display:none;
	position:absolute;
	z-index:10000;
	top:38px;
	left:-1px;
	background:#006D96;
	border:#004E6C 1px solid;
	border-bottom:none;
}
#navul li ul li {
	display:block;
	width:98px;
	float:none;
	margin-right:0px;
	height:28px;
	position:relative;
	line-height:28px;
	border-bottom:#004E6C 1px solid;
	font-size:12px;
}
#navul li.navmoon {
	background:#006D96;
	border:#004E6C 1px solid;
	width:98px;
	height:38px;
	line-height:38px;
}
#navul li.navmoon a {
	color:#FFFFFF;
}
#navul li.navhome a:hover {
	color:#FCFF00;
}
#navul li.navmoon ul {
	display:block;
}
#navul li.navmoon ul a {
	display:block;
	width:98px;
	height:28px;
	line-height:28px;
}
#navul li.navmoon ul a:hover {
	background:#000000;
}
/* ∑÷“≥‘§¿¿ */
#main {
	margin-top: 9em;
}
#tiles {
  list-style-type: none;
  position: relative; /** Needed to ensure items are laid out relative to this container **/
  margin: 0;
  padding: 0;
}
#tiles li:hover img{
	opacity:0.8;
}
/**
 * Grid items
 */
#tiles li {
 	width: 280px;
	background-color: #ffffff;
	border: 1px solid #dedede;
	border-radius: 2px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	display: none;
	cursor: pointer;
	border-radius: 0.2em;
}
#tiles li img{
	border-top-left-radius:0.2em;
	border-top-right-radius:0.2em;
}
#tiles li.inactive {
  visibility: hidden;
  opacity: 0;
}

#tiles li img {
 	display: block;
	width: 100%;
}

/**
 * Grid item text
 */

footer {
  text-align: center;

}

footer a {
  color: #435DC5;
  text-decoration: none;
}

/**
 * Progress bar for imagesLoaded
 */
.progress-bar {
  background-color: #0BC20B;
  height: 2px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 0;
  box-shadow: 0 1px 3px rgba(11, 194, 11, 0.2);
  -webkit-transition: width 0.3s ease-out;
     -moz-transition: width 0.3s ease-out;
       -o-transition: width 0.3s ease-out;
          transition: width 0.3s ease-out;
}

/**
 * Placerholder css
 */
.wookmark-placeholder {
          border-radius: 2px;
     -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  background-color: #eee;
  border: 1px solid #dedede;
  z-index: -1;
}

.example-tiles {
  position: relative; /** Needed to ensure items are laid out relative to this container **/
  margin: 0;
  padding: 0;
}

.example-tiles li {
  display: block;
  list-style-type: none;
  float: left;
  margin: 5px;
  -webkit-transition: all 0.3s ease-out;
     -moz-transition: all 0.3s ease-out;
       -o-transition: all 0.3s ease-out;
          transition: all 0.3s ease-out;
}

.example-tiles a,
.example-tiles a:hover {
  color: #555;
  background-color: #eee;
  text-align: center;
  display: table-cell;
  vertical-align: middle;
  width: 200px;
  height: 200px;
  font-size: 2em;
  font-weight: bold;
  text-decoration: none;
  border: 1px solid #ddd;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
  padding: 5px 8px;
  border-radius: 3px;
}

.example-tiles a:hover {
  background-color: #ddd;
}
/*--media Quries for 640px-monitors-*/
@media only screen and (max-width:640px) and (min-width:480px) {
	#main {
		margin-top: 7em;
	}
}
/*--media Quries for 480px-monitors-*/
@media only screen and (max-width:480px) and (min-width:320px) {
	#main {
		margin-top: 9.5em;
	}
}
/*--media Quries for 320px-monitors-*/
@media only screen and (max-width:320px) and (min-width:240px) {
	#main {
		margin-top: 9em;
	}
	#tiles li {
		width: 266px;
	}
}
/* ∑÷“≥‘§¿¿ */