@CHARSET "UTF-8";
.inputbox{
	width: 80%;
	height: 30px;
	background: white;
	border-radius: 2px;
	margin-left: 5px;
	float: left;
	border: 1px solid darkgray;
}
.mtable{
	margin-top:10%;
	width: 26%;
	height: 25%;
	text-align: center;
	color: white;
	border: 1px;
	white;
}
.sub{
	width: 20%;
	height: 100%;
	font-size: 13px;
	color: black;
	background: gainsboro;
	text-align: center;
	line-height: 30px;
	width: 120px;
	height: 30px;
	background: rgb(220,140,151);
}
#fanhui{
	width: 80%;
	height: 100%;
	font-size: 13px;
	color: black;
	text-align: center;
	line-height: 30px;
	width: 180px;
	height: 30px;
	background: rgb(220,140,151);
}
a{
	text-decoration:none;	
}